body {
    margin: 0;
}

.navbar {
    height: 30px;
    background-color: white;
    border-bottom: silver 1px solid;
}

.navbar > div {
    display: block;
}

.left {
    float:left;
}
.middle {
    width: 300px;
    margin: 0 auto;
    text-align: center;
}
.right {
    float: right;
}