body {
    margin: 0;
}
.bottom-nav{
    text-align:left;
    width: 100%;
    
}
.bottom-nav-content{
    padding: 300px;
    width: 600px;
    height: 400px;
   
    display: -webkit-flex;  
    -webkit-flex-direction: row-reverse; 
    display: flex;
    flex-direction: row ;
}
.bottom-nav-content section{
    text-size-adjust: 100%;
    float: left;
    width: 100px;
    height: 50px;
    margin: 20px;
    padding: 25px;
 
}
.go-to-homepage{
    float: right;

    
}
.footer-nav{
    text-align:center;
    width: 100%;
}
.footer-nav-ul{
    display:inline-block;
}
.nav-li{
    float:left;
    margin-left:20px;
    color: rgb(153, 153, 153);
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    white-space: nowrap;
    padding: 10px 0px;
    text-decoration: none;
    


}   
    

h3{
    
    color: rgb(51, 51, 51);
    font-size: 20px;
    font-weight: 700;
    font-family: nyt-franklin;
    height: 25px;
    line-height: 15px;
    text-transform: uppercase;
    width: 150px;
    margin: 20px;
    padding-inline-start: 20px;
}

.section-label-subscribe{
    border-left: 1px solid ;
    height: 300px;
}
.section-label-5{
    padding-left: 15px;
    border-left: 1px solid rgb(226, 226, 226);
    flex: 1 1 0%;
}
.navbar {
    height: 36px;
    background-color: white;
    border-bottom: silver 1px solid;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar > div {
    display: block;
}

.left {
    float:left;
    margin: 5px;
}
.left .icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin: 5px 10px;
}
.section-title {
    font-size: 14.25px;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    line-height: 19px;
    float: right;
    margin: 5px 10px;
}
.article-picture {
    width: 100%;
}
.button {
    border-radius: 3px;
    cursor: pointer;
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    -webkit-transition: ease 0.6s;
    transition: ease 0.6s;
    background-color: #6288a5;
    border: 1px solid #326891;
    color: #fff;
    font-size: 11px;
    font-weight: 700;
    -webkit-letter-spacing: 0.05em;
    -moz-letter-spacing: 0.05em;
    -ms-letter-spacing: 0.05em;
    letter-spacing: 0.05em;
    line-height: 11px;
    padding: 8px 9px 6px;
    text-transform: uppercase;
}
.line{
    content: "";
    display: block;
    height: 1px;
    margin-top: 0px;
    border-bottom: 1px solid rgb(226, 226, 226);
    border-top: 2px solid rgb(226, 226, 226);
}
.list-item{
    color:rgb(0, 0, 0);;
    display: inline-block;
    font-family: nyt-franklin;
    text-transform: capitalize;
    width: 150px;
    font-size: 16px;
    font-weight: 500;
    height: 23px;
    line-height: 16px;
    text-decoration: none;
}
.list-item-1{
    color: rgb(0, 0, 0);;
    display: inline-block;
    font-family: nyt-franklin;
    text-transform: capitalize;
    width: 150px;
    font-size: 16px;
    font-weight: 700;
    height: 25px;
    line-height: 15px;
    padding-bottom: 0px;
}
.list-item-2{
    color: rgb(0, 0, 0);
    display: inline-block;
    font-family: nyt-franklin;
    text-transform: capitalize;
    width: 150px;
    font-size: 14px;
    font-weight: 500;
    height: 23px;
    line-height: 21px;
    text-decoration: none;
}
.middle {
    width: 195px;
    height: 26px;
    margin: 5px auto;
    text-align: center;
}
.right {
    float: right;
    margin: 5px;
}

.container {
    margin: 0 auto;
    width: 80%;
}
.container p, .container h2 {
    margin: 20px auto;
    width: 60%;
    font-family: nyt-imperial, georgia, "times new roman", times, serif;
    font-size: 19px;
    font-stretch: 100%;
    line-height: 29px;
}

.container .advert {
    height: 300px;
    background-color: rgb(247, 247, 247);;
    margin: 50px -20%;
}

.container .advert img {
    height: 100%;
    margin: 0 auto;
    display: block;
}

h1  {
    font-family: nyt-imperial, georgia, "times new roman", times, serif;
    font-size: 100%;
    text-size-adjust: 100%;
    display: block;
    width: 383.777px;
    max-width: 383.777px;
    font-size: 2.5rem;
    font-style: italic;
    margin: 0 auto 30px auto;
}