body {
    margin: 0;
}
.bottom-nav-content{
    padding: 300px;
    width: 600px;
    height: 400px;
   
    display: -webkit-flex; /* Safari */
    -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
    display: flex;
    flex-direction: row ;
}
.bottom-nav-content section{
    text-size-adjust: 100%;
    float: left;
    width: 100px;
    height: 50px;
    margin: 20px;
 
}
.go-to-homepage{
    float: right;
    
}
.footer-nav{
    text-align:center;
    width: 100%;
}
.footer-nav-ul{
    display:inline-block;
}
.nav-li{
    float:left;
    margin-left:20px;
    


}   
    

h3{
    margin: 20px
}

.section-label-subscribe{
    border-left: 1px solid ;
    height: 300px;
}
.navbar {
    height: 30px;
    background-color: white;
    border-bottom: silver 1px solid;
    position: fixed;
}

.navbar > div {
    display: block;
}

.left {
    float:left;
}
.middle {
    width: 300px;
    margin: 0 auto;
    text-align: center;
}
.right {
    float: right;
}

.container {
    margin: 0 auto;
    width: 80%;
}
.container p, .container h2 {
    margin: 20px auto;
    width: 60%;
    font-family: nyt-imperial, georgia, "times new roman", times, serif;
    font-size: 19px;
    font-stretch: 100%;
    line-height: 29px;
}

.container .advert {
    height: 300px;
    background-color: rgb(247, 247, 247);;
    margin: 50px -13%;
}

h1  {
    font-family: nyt-imperial, georgia, "times new roman", times, serif;
    font-size: 100%;
    text-size-adjust: 100%;
    display: block;
    width: 383.777px;
    max-width: 383.777px;
    font-size: 2.5rem;
    font-style: italic;
    margin: 0 auto;
}